<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{{COMPANY_NAME}}} | {{{PRODUCT_NAME}}}</title>
    <link rel="shortcut icon" href="TemplateData/favicon.ico">
    <link rel="stylesheet" href="TemplateData/style.css">
  </head>
  <body>
<div class="game-box">
    <div id="unity-container" class="unity-desktop">
      <canvas id="unity-canvas"></canvas>
      <div id="unity-loading-bar">
        <div id="unity-logo"></div>
        <div id="unity-progress-bar-empty">
          <div id="unity-progress-bar-full"></div>
        </div>
      </div>
      <div id="unity-footer">
        <!-- <div id="unity-webgl-logo"></div> -->
        <div id="unity-fullscreen-button"></div>
        <div id="unity-build-title">На полный экран</div>
      </div>
    </div>
</div>
    <script>
      var buildUrl = "Build";
      var loaderUrl = buildUrl + "/{{{LOADER_FILENAME}}}";
      var config = {
        dataUrl: buildUrl + "/{{{DATA_FILENAME}}}",
        frameworkUrl: buildUrl + "/{{{FRAMEWORK_FILENAME}}}",
        codeUrl: buildUrl + "/{{{CODE_FILENAME}}}",
        streamingAssetsUrl: "StreamingAssets",
        companyName: "{{{COMPANY_NAME}}}",
        productName: "{{{PRODUCT_NAME}}}",
        productVersion: "{{{PRODUCT_VERSION}}}",
      };

      var container = document.querySelector("#unity-container");
      var canvas = document.querySelector("#unity-canvas");
      var loadingBar = document.querySelector("#unity-loading-bar");
      var progressBarFull = document.querySelector("#unity-progress-bar-full");
      var fullscreenButton = document.querySelector("#unity-fullscreen-button");

      if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
        container.className = "unity-mobile";
        config.devicePixelRatio = 1;
      } else {
        canvas.style.width = "{{{WIDTH}}}px";
        canvas.style.height = "{{{HEIGHT}}}px";
      }
      loadingBar.style.display = "block";

      var script = document.createElement("script");
      script.src = loaderUrl;
      script.onload = () => {
        createUnityInstance(canvas, config, (progress) => {
          progressBarFull.style.width = 100 * progress + "%";
        }).then((unityInstance) => {
          loadingBar.style.display = "none";
          fullscreenButton.onclick = () => {
            unityInstance.SetFullscreen(1);
          };
        }).catch((message) => {
          alert(message);
        });
      };
      document.body.appendChild(script);
    </script>
  </body>
</html>