.game-box {
position: relative;
max-width: 1000px;
}
#unity-container { position: relative;
display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
max-width: 1000px;
 }
#unity-container.unity-desktop { /* left: 50%; top: 50%; transform: translate(-50%, -50%) */ }
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: #667D80; max-width: 1000px; }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('loader.gif') no-repeat center }
#unity-progress-bar-empty { width: 154px; height: 18px; margin-top: 10px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative; margin-top: 20px; }
.unity-mobile #unity-footer { /* display: none */ }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 68px; font-family: arial; font-size: 24px }
#unity-fullscreen-button { float: right; width: 68px; height: 68px; background: url('fullscreen-button.png') no-repeat center; background-size: cover; }

@media (max-width:480px)  { 

#unity-loading-bar { position: absolute; left: 50%; top: 0; transform: translate(-50%, 0%); display: none }

}